.App {
  text-align: center;
}
.form{
  width: 40%;
  height: 222px;
  text-align: center;
  justify-content: center;
  margin-top: 20px;
  margin-left: 30%;
  margin-bottom: 10px;
}
input[type=text]{
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box
}
label{
  font-size: 21px;
}
button{
  width: 35%;
  height: 40px;
  margin-top: 4px;
  float: left;
  margin: 10px;
  margin-right: 10px;
  /* background-color: black; */
  color: black;
  font-size: 25px;
  border-radius: 40px;
}
table, th, td {
  border: 2px solid black;
  border-collapse: collapse;
  text-align: center;
  width: 600px;
  padding: 20px;
}


